<div class="p-2">
  <header class="bg-gradient-to-br from-stone-900 to-red-500 p-4 flex justify-between items-center rounded-xl">
    <img src="/assets/img/logo.png" width="100px" alt="" />
    <div class="flex items-center gap-2">

      <button (click)="closeSesion()" class="bg-[#161616] shadow-xl rounded-lg flex justify-center items-center p-1">
        <div class="w-8">
          <img src="assets/icons/exit-ico.svg" alt="exit" width="30">
        </div>
      </button>

    </div>
  </header>
</div>
