<div class="flex gap-2 justify-end">
  <button class="bg-white text-blue-700 p-2 rounded-xl shadow-sm hover:shadow-md">Register Client</button>
</div>

<div class="grid grid-cols-2 gap-2 mt-2">

  <div class="border rounded-xl p-2 bg-white shadow-sm h-[200px]">
    <div class="font-bold flex flex-row gap-2 border-b items-center justify-between py-1">
      <span>DRIVERS IN SERVICE</span>
      <span class="bg-slate-900 text-white w-10 rounded-lg text-center">1</span>
    </div>
    <div class="flex flex-col py-2">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type of Mobility</th>
            <th>Plate</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class="border-b">
            <td>Junior Zaragoza</td>
            <td>CRANE</td>
            <td class="bg-yellow-300 rounded-md">AB6524</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border rounded-xl p-2 bg-white shadow-sm h-[200px]">
    <div class="font-bold flex flex-row gap-2 border-b items-center justify-between py-1">
      <span>SERVICES IN PROGRESS</span>
      <span class="bg-slate-900 text-white w-10 rounded-lg text-center">1</span>
    </div>
    <div class="flex flex-col py-2">
      <table>
        <thead>
        <tr>
          <th>Customer</th>
          <th>Origin</th>
          <th>Origin</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="border-b">
          <td>John Carlson</td>
          <td>185 Robinson Road</td>
          <td>200 Burrard Street. Plaza level</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border rounded-xl p-2 bg-white shadow-sm h-[200px]">
    <div class="font-bold flex flex-row gap-2 border-b items-center justify-between py-1">
      <span>DRIVERS AVAILABLE</span>
      <span class="bg-slate-900 text-white w-10 rounded-lg text-center">1</span>
    </div>
    <div class="flex flex-col py-2">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Type of Mobility</th>
          <th>Plate</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="border-b">
          <td>David Duran</td>
          <td>GRUA</td>
          <td class="bg-yellow-300 rounded-md">XMD123</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border rounded-xl p-2 bg-white shadow-sm h-[200px]">
    <div class="font-bold flex flex-row gap-2 border-b items-center justify-between py-1">
      <span>COMPLETED SERVICES</span>
      <span class="bg-slate-900 text-white w-10 rounded-lg text-center">1</span>
    </div>
    <div class="flex flex-col py-2">
      <table>
        <thead>
        <tr>
          <th>Customer</th>
          <th>Origin</th>
          <th>Origin</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="border-b">
          <td>Steve Must</td>
          <td>2120 Cambie St.V5Z 4N6</td>
          <td>1055 Dunsmuir Street</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
