<h2 mat-dialog-title>Agregar Nueva Orden</h2>
<mat-dialog-content>
  <form [formGroup]="addNewOrderGroup" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-6 p-2">
      <div>
        <label for="userId">Asignar un responsable</label>
        <select
          formControlName="userId"
          class="w-full px-4 py-2 rounded border border-gray-300 focus:outline-none focus:border-blue-500"
        >
          <option *ngFor="let user of users$ | async" [ngValue]="user.id">
            {{ user.name }}  {{ user.lastname }}
          </option>
        </select>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full text-white p-2"
      >
        Generar Nueva Orden
      </button>
    </div>
  </form>
  <mat-progress-bar mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>
</mat-dialog-content>
